
#main{
    width:100%;
    height: 1000px;
}
#head {
    width: 100%;
    height: 100px;
    background-color: blue;
    display: flex;
}

.logo {
    width: 20%;
    background-color: #f1f1f1;
    height: 100px;
}.img {
     width: 50%;
     background-color: #dddd;
     height: 100px;
 }.research {
      width: 30%;
      background-color: #8AD385;
       height: 100px;
  }

  #head_menu{
      display: flex;
      width: 100%;
      height: 80px;
  }
  .head_menu1{
      width: 20%;
      background-color: #8AD385;
      height: 80px;
      padding: 0px 50px;
  }
.head_menu2{
    width: 20%;
    background-color: #8AD385;
    height: 80px;
    padding: 0px 50px;
}
.head_menu3{
    width: 20%;
    background-color: #8AD385;
    height: 80px;
    padding: 0px 50px;
}
.head_menu4{
    width: 20%;
    background-color: #8AD385;
    height: 80px;
    padding: 0px 50px;

}
.head_menu5{
    width: 20%;
    background-color: #8AD385;
    height: 80px;
    padding: 0px 50px;
}
#content{
    width: 100%;
    height:820px;
    display: flex;

}
#left{
    width: 20%;
    height: 820px;
    background: #888888;
}
#right{
    width: 80%;
    height: 820px;
    display: flex;
}
#left ul li{
    position: relative;
    text-align:left;
    font-size: medium;
}
#left ul {
    background: #888888;
    width: 100%;
    padding: 0;
    list-style-type: none;

}
#left li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1em;
}
#left li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline;
}
#left li:hover {
    background: #CDE2CD;
}
#truyentranh{
    width: 100%;
    height:200px;

}
.right1{
    width:20% ;
    height: 230px;
    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    border: 1px solid black;
}
.right2{
    width:20% ;
    height: 230px;
    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    border: 1px solid black;
}
.right3{

    width:20% ;
    height: 230px;
    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    border: 1px solid black;
}
.right4{
    width:20% ;
    height: 230px;
    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    border: 1px solid black;
}
.right5{
    width:20% ;
    height: 230px;
    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    border: 1px solid black;
}
.right6{
    width:20% ;
    height: 230px;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    border: 1px solid black;
}
.right7{
    width:20% ;
    height: 230px;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    border: 1px solid black;
}