header {
    position: relative;
}
.shopping-mall{
    /*position: absolute;*/
    bottom: 20px;
    font-variant: small-caps;
}
.shopping-mall>h1{
    font-family: Impact;
    font-size: 50px;
    color: white;
    letter-spacing: 0.3px;
    text-shadow: 0 0 2px black;
    padding-bottom: 0px;
    border-bottom: 1px dotted gray;
    margin: 0px;
}
.shopping-mall>h5{
    top:0px;
    margin-top: 10px;
    letter-spacing: 1px;
}
.poly-prod{
    text-align:center;
    padding:5px;
}
.poly-prod .panel-body img{
    height: 150px;
    max-width: 95%;
}
#content{
    width: 100%;
    height: 100%;
    display: flex;
}
#left{
    width: 70%;
    height: 100%;
    background-color: #8AD385;
}
#right{
    width: 30%;
    height: 100%;

}

