.poly-cart{
    margin: 0px;
    padding: 0px 15px;
}

.poly-cart ul {
    padding: 10px;
    margin: 0px;
    list-style: none;
    font-variant: small-caps;
}

.poly-cart .panel-heading strong {
    font-variant: small-caps;
    font-size: larger;
    text-shadow: 0 0 2px darkgray;
}
