body{
    margin: 5px;
    padding: 5px;
    /*background-color: #e8e8e8;*/
}
#head{
    display: flex;
    width: 100%;
    height: 50px;

}
#head_left{
    width: 70%;
    display: flex;
    height: 50px;
}
#head_right{
    display: flex;
    width: 30%;
    height: 50px;
}
i{
    width: 80px;
    height: 50px;
    background-color: white;
    text-align: center;
    padding: 15px;
}
#slidebar{
    width: 100%;
    height: 500px;
    display: flex;
    /*border: 1px;*/
    /*padding: 2px;*/
}
#slidebar_left{
    width: 70%;
    height: 500px;border: 1px;
    padding: 2px;
    position: relative;
    border: 1px;
    padding: 4px;
    margin: 0px;
}

#slidebar_left p{
    z-index: 1;
    position: absolute;
    left: 206px;
    font-size: 23px;
    text-align: center;
    top: 331px;
}
#slidebar_left h6{
    z-index: 1;
    position: absolute;
    left: 206px;
    font-size: 23px;
    text-align: center;
    top: 369px;
    font-style: italic;
}


#slidebar_right{
    width: 30%;
    height: 500px;
    border: 1px;
    padding: 2px;

}
.slider_rigt1{
    padding: 2px;
    position: relative;
}
.slider_rigt2{
    padding: 2px;
    position: relative;
}
.slider_rigt1 p{
    z-index: 1;
    position: absolute;
    margin-top: 0;
    margin-bottom: 1rem;
    top: 163px;
    right: 48px;
}
.slider_rigt1 h6{
    margin-top: 0;
    margin-bottom: 1rem;
    z-index: 1;
    position: absolute;
    right: 48px;
    font-size: 15px;
    text-align: center;
    top: 194px;
}
.slider_rigt2 h6{
    margin-top: 0;
    margin-bottom: 1rem;
    z-index: 1;
    position: absolute;
    right: 46px;
    font-size: 15px;
    text-align: center;
    top: 172px;
}
.slider_rigt2 p{
    margin-top: 0;
    margin-bottom: 1rem;
    z-index: 1;
    position: absolute;
    right: 46px;
    font-size: 15px;
    text-align: center;
    top: 172px;
}
.slider_rigt2 h6{
    margin-top: 0;
    margin-bottom: 1rem;
    z-index: 1;
    position: absolute;
    right: 49px;
    font-size: 15px;
    text-align: center;
    top: 192px;
}

#btn1{
    z-index: 1;
    position: absolute;
    left: 206px;
    font-size: 27px;
    text-align: center;
    top: 408px;
    font-style: italic;
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
.slider_rigt1 a{
    margin-top: 0;
    margin-bottom: 1rem;
    z-index: 1;
    position: absolute;
    right: 191px;
    font-size: 19px;
    text-align: center;
    top: 212px;
}
.slider_rigt2 a{
    margin-top: 0;
    margin-bottom: 1rem;
    z-index: 1;
    position: absolute;
    right: 69px;
    font-size: 15px;
    text-align: center;
    top: 197px;
}
#menu{
    width: 100%;
    height: 100px;
    display: flex;
}
#menu div{
    width: 20%;
    height: 100px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;

}#content1{

    width: 100%;
    height:900px;
    display: flex;
     margin: 5px;
     padding: 5px;
 }

#content11{
    position: relative;
    width: 50%;
    height: 900px;
    /*margin: 5px;*/
    /*padding: 5px;*/
 }
.content11{
    background-color: #e8e8e8;
    position: relative;
    width: 100%;
    height: 450px;
    margin: 5px 0;
    padding: 5px;
    /*margin: 10px;*/
    /*padding: 5px;*/
}
/*.content11 h3{*/
/*    margin-top: 0;*/
/*    margin-bottom: 1rem;*/
/*    z-index: 1;*/
/*    position: absolute;*/
/*    right: 49px;*/
/*    font-size: 15px;*/
/*    text-align: center;*/
/*    top: 192px;*/

/*}*/
.content12 {
    background-color: #e8e8e8;
    position: relative;
    width: 100%;
    height: 450px;
    /*margin: 5px;*/
    padding: 5px;
 }

/*#content2{*/
/*    position: relative;*/

/*    width: 50%;*/
/*    height: 900px;*/
/*    margin: 5px;*/
/*    padding: 5px;*/
/*}*/
.content21{
    background-color: #e8e8e8;
    display: flex;
    height: 300px;
    margin: 5px;
    padding: 5px;

}
.content22{
    background-color: #e8e8e8;
    /*display: flex;*/
    height: 300px;
    margin: 5px;
    padding: 5px;
}
.content23{
    background-color: #e8e8e8;
    display: flex;
    height: 300px;
    margin: 5px;
    padding: 5px;
}
#content2{
    display: flex;
    height: 500px;
    background-color: #e8e8e8;
    width: 100%;
    border: 2px;
    /*margin: 10px;*/
}